@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 10px;
  height: 8px;
  background: transparent;

}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

::-webkit-scrollbar-thumb:active {
  background-color: #888;
}